<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="register-form mx-auto">
        <h2 class="register-header">Đăng ký</h2>
        <!-- Họ và tên -->
        <div class="form-group">
          <label for="fullname">Họ và tên</label>
          <input
            type="text"
            class="form-control"
            id="fullname"
            [(ngModel)]="fullName"
            name="fullName"
            required
          />
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <!-- Số điện thoại -->
        <div class="form-group">
          <label for="phoneNumber">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            [(ngModel)]="phoneNumber"
            name="phoneNumber"
            (input)="onPhoneNumberChange()"
            required
          />
          <div class="divider-nospace"></div>
          <p class="text-danger" *ngIf="phoneNumber && phoneNumber.length < 6">
            Số điện thoại phải có ít nhất 6 ký tự
          </p>
        </div>

        <!-- Mật khẩu -->
        <div class="form-group password-field">
          <label for="password">Mật khẩu</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            name="password"
            placeholder="Ít nhất 6 ký tự"
            class="form-control"
            id="password"
            required
            (input)="checkPasswordsMatch()"
          />
          <i
            class="password-toggle fas"
            [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePassword()"
          ></i>
          <div class="divider-nospace"></div>
          <p class="text-danger" *ngIf="password && password.length < 3">
            Mật khẩu phải có ít nhất 3 ký tự
          </p>
        </div>

        <!-- Nhập lại mật khẩu -->
        <div class="form-group password-field">
          <label for="retypePassword">Nhập lại mật khẩu</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="retypePassword"
            name="retypePassword"
            placeholder="Gõ lại mật khẩu"
            class="form-control"
            id="retypePassword"
            required
            (input)="checkPasswordsMatch()"
          />
          <i
            class="password-toggle fas"
            [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePassword()"
          ></i>
          <div class="divider-nospace"></div>
          
        </div>

        <!-- Họ và tên -->
        

        <!-- Ngày sinh -->
        <div class="form-group">
          <label for="dateOfBirth">Ngày sinh</label>
          <input
            type="date"
            class="form-control"
            id="dateOfBirth"
            [(ngModel)]="dateOfBirth"
            name="dateOfBirth"
            required
            (input)="checkAge()"
          />
          
        </div>

        <!-- Địa chỉ -->
        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input
            type="text"
            class="form-control"
            id="address"
            [(ngModel)]="address"
            name="address"
          />
        </div>

        <!-- Đồng ý điều khoản -->
        <div class="form-group">
          <div class="form-check checkbox-text">
            <span style="display: flex;">
              <input
                type="checkbox"
                class="form-check-input"
                id="agree"
                [(ngModel)]="isAccepted"
                name="isAccepted"
                required
              />
              <label class="form-check-label text-start" for="agree">
                Tôi đồng ý với các điều khoản và điều kiện
              </label>
            </span>
          </div>
        </div>

        <!-- Nút đăng ký -->
        <button
          type="button"
          class="register-button"
          (click)="register()"
        >
          Đăng ký
        </button>

        <div class="divider"></div>

        <!-- Social login -->
        

       <p class="text-center">Bạn đã có tài khoản? <span>
                    <a href="/login" class="register-link">Đăng nhập</a></span></p>
        
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
