@use '../../styles/shared-styles.scss' as *;

.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.container {
    margin-top: 30px;
    
}

.category-section {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 12px;
}

.product-category {
    width: 200px;
}

.row{
    
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: #f8faff;
    border: 1px solid rgb(107, 188, 194);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 12px;
}
.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product-name {
    color: #1e1e1e;
    text-align: center;
    font-size: 18px;
}

.product-description {
    color: #1e1e1e;
    text-align: center;
}
.product-description:hover {
    color: #2659f3;
    transition: all 0.3s ease;
}
.product-warranty {
    color: $shopapp-tint-color;
}

.product-price {
    color: #1e1e1e;
    text-align: center;
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product-quick-actions {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.space-x {
    margin: 0 5px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
}

.page-number {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 2px;
    border-radius: 3px;
}

.page-number.active {
    background-color: $shopapp-color !important;
    color: #fff;
    border-color: $shopapp-color !important;
}
.btn-primary {
    background-color: $shopapp-color;
    border-color: $shopapp-color;    
}
.btn.btn-primary {
    margin-left: 10px;
}
  