
<app-header></app-header>
<div class="container">
  <div class="row">
    <img src="https://file.hstatic.net/1000230347/file/banner-spm.webp" alt="Banner">
  </div>
  
    <div class="row row-cols-2 row-cols-md-5 g-3">
      @for(product of products; track product.id) {
        <div class="col">
          <div class="product-item" (click)="onProductClick(product.id)">
              <img [src]="product.url" alt="Product Image" class="product-image">
              <h3 class="product-name">{{ product.name }}</h3>
              <!-- <p class="product-description">{{ product.description }}</p> -->
              <div class="product-rating d-flex justify-content-center align-items-center gap-1">
                                        <div class="stars d-flex">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="rating-count">({{ product.rating_count || 0 }})</span>
                                    </div>
              <p class="product-price">
                {{ product.price | currency:'VND':'symbol':'1.0-0':'vi' }}
              </p>
              
              <div class="product-quick-actions">
                  <button type="button" class="btn btn-sm btn-primary btn-view" (click)="$event.stopPropagation(); onQuickView(product.id)"> <i class="fas fa-eye me-2"></i>Xem nhanh</button>
                </div>
          </div>
        </div>
      }
      
    </div>
</div>

<!-- Category sections -->


<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        @if(currentPage > 0) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(0)">First</a>
          </li>
        }
        @if(currentPage > 0) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(currentPage - 1)">
              <i class="fa fa-chevron-left"></i>
            </a>
          </li>
        }            
        @for(page of visiblePages; track page) {
          <ng-container>
            <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
              <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
            </li>
          </ng-container>
        }     
        
         @if(currentPage < totalPages - 1)  {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(currentPage + 1)">
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
          </li>
         }        
      </ul>
    </nav>
</div>
      
<app-footer></app-footer>